{% extends "base.html" %}

{% block title %}Notifications{% endblock title %}

{% block content %}

<h2><b><u>Notifications</u></b></h2>

<br><br>
{% for notification in object_list %}
{% if notification.notification_viewer == request.user %}
    <div class="card">
        <div class="card-header">

            
                    {{notification.notification_time| date:"H:i:s - d/m/Y" }}: {{notification.notification_text}} 
            


        </div>  
    </div>

    <br>
{% endif %}

{% endfor %}

{% endblock content %}
