
{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}


<!--Displays the detail of the clicked article -->
<div class="budget-entry">
    

    <h2>Audit trail of budget {{budget.budget_ID}}: {{budget.budget_month}} {{budget.budget_year}} </h2>
  </div>
  

<hr>


  <div id="formset-container">
    <!--Displays insight lines of budget-->
    {% for action in object_list %}


        <div class="line-form">
            {{ action.action_time | date:"H:i:s - d/m/Y" }}: {{ action.action_description }}

        </div>
      <br>
            
    {% endfor %}
       <br><br>

    <p>Back to <a href="{% url 'budget_list' %}">All budgets</a>.</p>

{% endblock content %}