{% extends "base.html" %}



{% block content %}




<!--Displaying message when budget has been added successfully on new_budget page:-->

  {% if messages %}

  <style>
.messages{
    display: inline-block; 
      border: 1px solid rgb(0, 0, 0);
  background-color: rgb(76, 120, 76);
position: fixed;              /* So it floats over the page */
top: 60px;                    /* Distance from top */
right: 20px;                  /* Distance from right */
}

</style>

  <div class="messages">
      {% for message in messages %}
      
        <b> {{ message }} </b>  <br>
      {% endfor %}
  </div>

<script>
    // It displays "Budget created successfully" message only for 5 seconds
    setTimeout(function() {
        const messages = document.querySelector(".messages");
        if (messages) {
            messages.style.display = "none";
        }
    }, 5000); // in miliseconds 

    </script>

  {% endif %}


<h2><b><u>Budget list</u></b></h2>
<br>

<!--Displaying project list in a succint way:-->
{% for budget in object_list %}
{% if budget.budget_owner.pk == request.user.pk or budget.original_budget_owner.pk == request.user.pk %}

    <div class="card">
        <div class="card-header">
            <span class="fw-bold">
                

                    <a href="{{ budget.get_absolute_url }}">{{budget.budget_month}}
                         {{budget.budget_year}} ({{budget.original_budget_owner}})</a> 
                        


            </span> 
            <span class="test-muted">  
            </span> 
        </div>  
        <!--For each project, only the action/decision is displayed in the list-->
        <div class="card-footer">
            Total expenses: £{{budget.total_expenses}} | ${{budget.total_expenses_USD|floatformat:2}}
             | €{{budget.total_expenses_EUR|floatformat:2}}
            <br>
            <br>
            {% for line in budget.lines_list %}
            <p>
                <span class="fw-bold">
                    {{line.item_name }} <br> 

                </span>
                    Quantity: {{line.item_quantity }} &middot; Price £{{line.item_price}} | 
                    ${{line.item_price_USD|floatformat:2}} | €{{line.item_price_EUR|floatformat:2}}
            </p>
            {% endfor %}
        </div>
    </div>
    <br>
{% endif %}
      

{% endfor %}
{% endblock content %}


