{% extends "base.html" %}


{% block content %}

This budgeting app is my first open-source project.
Find below a description of the product features.
<br><br>
CRUD:
<br><br>
This budgeting app has a basic CRUD functionality for creating and maintaining montlhy budgets.
<br><br>

FORMS:
<br><br>
Budgets feature headers and expense lines. Django forms are rendered both when creating and updating budgets.
<br>
The expenses that constitute the budget lines need to be assigned a name, category, quantity and price per unit
<br><br>

AUTHENTICATION:
<br><br>
In order to access the website, visitors need to sign up and log in.
<br><br>

AUTHORISATION:
<br><br>
Users can only view and update their own budgets.
<br><br>

REST FRAMEWORK - API:
<br><br>

Nothing done so far.
<br><br>


{% endblock content %}


